<main>
    <article>

      <!-- 
        - #SERVICE
      -->

      <section class="section service has-bg-image" aria-labelledby="service-label"
        style="background-image: url('assets/images/service-bg.png')">
        <div class="container">

        

          <ul class="service-list">

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Web Development</h3>

                  <p class="body-sm">
                    With a passion for crafting responsive and dynamic websites, I specialize in web development, utilizing a variety of technologies to create seamless and user-friendly online experiences
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">DevOps</h3>

                  <p class="body-sm">
                    As a DevOps enthusiast, I excel in implementing streamlined and automated development pipelines, 
                    ensuring efficient collaboration between development and operations teams to deliver high-quality software
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

                <div class="card-media">
                  <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Artificial Intelligence</h3>

                  <p class="body-sm">
                    My expertise in Artificial Intelligence spans machine learning and data analysis, 
                    empowering businesses with intelligent solutions that enhance decision-making and automate complex tasks.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

                <div class="card-media">
                  <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Web Design</h3>

                  <p class="body-sm">
                    In the realm of graphic design, I bring creativity to life through visually compelling designs. From logos to multimedia presentations, my goal is to communicate messages effectively and aesthetically.
                  </p>
                </div>

              </div>
            </li>

           
         

          </ul>

        </div>
      </section>

    </article>
  </main>